name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    permissions:
      contents: read

  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    permissions:
      contents: read
